<!DOCTYPE html>
<html>
    <head>
        <title> Jeux Hangman </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="asset/css/style.css">
    </head>
<body>
    <div class ="container">
        <div class="titre">
            <h1>Jeux Hangman</h1>
        </div>
    </div>
    <div id="choix">
        <form action="/game" method="post">
            <label for="difficulty">Choisissez la difficulté.</label>
                <select name="difficulty" id="difficulty" required>
                    <option value="easy">Facile</option>
                    <option value="medium">Moyen</option>
                    <option value="hard">Difficile</option>
                </select>
            <button type="submit">Lancer.</button>
        </form>
    </div>
    </div>
    


    
</body>


</html>