<!DOCTYPE html>
<html>
    <head>
        <title> Jeux Hangman </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="asset/css/style.css">
    </head>
<body>
    <div class ="container">
        <div class="titre">
            <h1>Jeux Hangman</h1>
        </div>
    </div>
    <div class="container">
        <img src="/static/image/pendu{{.nberror}}.png" class="img">
    </div>
    <div class="soumettre">
        <form action="/game" method="post">
            <label for="lettre">Proposer une lettre</label><br/>
            <input type="text" class="form" name="lettre" required><br/>
            <div id="valider">
                <button type="submit">
                    <img src="../asset/image/fleche.jpg" alt="bouton" border="0" />
                </button>
            </div>
        </form>
    </div>


    
</body>


</html>