
{{ define "index"}}
<!DOCTYPE html>
<html>
    <head>
        <title> Jeux Hangman </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
<body>
    <div id="main">
        <div id="titre">
            <h1 class="text">Jeux Hangman</h1>
        </div>
        <div id="regle">
        <p class="text">Le but du jeu est simple : 
            deviner toute les lettres qui doivent composer un mot,
            éventuellement avec un nombre limité de tentatives et
            des thèmes fixés à l'avance. A chaque fois que le joueur devine une lettre,
            celle-ci est affichée. Dans le cas contraire,
            le dessin d'un pendu se met à apparaître…
        </p>
        </div>
        <form action="/choix" method="post">
            <div class="wrapper">
                <button class="bouton" type="button">Continuer</button>
            </div>
        </form>
</body>


</html>
{{ end }}